#mainBody{
	background-color: lightBlue;
    height: 100%;
    overflow: hidden;
    text-align: center;
    
}

table{
    width: 19.5%;
    float: left;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    //border-spacing: 0;
    border: 3px solid black;
    border-radius: 0.6em;
    table-layout: fixed;
    background-color: black;
}

th{
    color: yellow;
    font-size: 32px;
    font-weight:bold;
    font-family: "Piboto";
    //border: 1px solid darkblue;
    //border-radius: 4px;
}

td{
    color: black;
    font-size: 100px;
    font-weight: bold;
    font-family: "Piboto";
    //background-color: green;
    border: 0px;
    border-radius: 4px;
    
}

.stretchtext {
    display:inline-block;
    transform:scale(1.75,1.75);
}

